<div class="container rounded-full bg-gray mt-5 bg-gray-100 shadow shadow-lg" style="border-radius: 15px; ">
    <div class="row">
        <div class="col-md-4 border-right ">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5 "><img class="rounded-circle mt-5"  src="/assets/img/woman.png" width="90"><span class="font-weight-bold">Mechichi Farah </span><span class="text-black-50">Mechichif141@gmail.com</span><span>Sousse</span></div>
        </div>
        <div class="col-md-8 ">
            <div class="p-3 py-5">  
                <div>
               
                    
                    <h5 class="text-center text-blue-900">Edit Profile</h5>
                    <br>
                </div>
                <div class="row mt-2 " >
                    <div class="col-md-6 "><input type="text" class="form-control" placeholder="first name" value="Farah"></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="Mechichi" placeholder="Mechichi"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Email" value="Mechichif141@gmail.com"></div>
                    <div class="col-md-6"><input type="text" class="form-control" value="+19685969668" placeholder="Phone number"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><input type="text" class="form-control" placeholder="Department" value="Developpement"></div>
                </div>
                <div class="mt-5 text-right"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
    </div>

