<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card shadow-lg bg-gray-100">
          <div class="card-body p-5 ">
            <h5 style="color: rgb(3, 3, 90);">Todo List</h5>
            <br>

            <div class="form-group">
              <input type="text" [(ngModel)]="newTaskDescription" placeholder="Enter task">
              <button class="btn btn-primary" (click)="addTask()">Add Task</button>
            </div>

            <br>
            <br>

            <ul>
              <li *ngFor="let task of tasks" [class.completed]="task.completed">
                <div>
                  <input class="checkbox" type="checkbox" [(ngModel)]="task.completed" (change)="toggleComplete(task)">
                  <span *ngIf="!task.editing">{{ task.description }}</span>
                  <input type="text" *ngIf="task.editing" [(ngModel)]="task.description">
                </div>
                <div class="task-btn-group">
                  <button class="btn task-btn edit" (click)="editTask(task)">Edit</button>
                  <button class="btn task-btn delete" (click)="deleteTask(task)">Delete</button>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
