<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a >
      <img class="logo" src="assets/img/T.png" alt="">
      
    </a>

    <nav id="navbar" class="navbar">
      <ul [ngClass]="{'show': showNav}">
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/signupuser">Signup</a></li>
        <li><a class="nav-link scrollto" href="/loginuser">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleNav()"></i>
    </nav><!-- .navbar -->

  </div>
</header>
<router-outlet></router-outlet>