
  
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container bootstrap snippets bootdey">

    <div class="search-container" style="margin-bottom: 20px;">
        <input type="text" name="search" placeholder="Search.." style="background-color:rgb(248, 249, 250);">
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header rounded-full shadow-lg bg-gray-100">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span style="color: rgb(2, 2, 74);">User</span></th>
                                    <th><span style="color: rgb(2, 2, 74);">Email adress</span></th>
                                    <th class="text-center" style="color: rgb(2, 2, 74);"><span> Status</span></th>
                                    <th><span style="color: rgb(2, 2, 74);">Phone</span></th>
                                    <th class="text-left " style="color: rgb(2, 2, 74);"><span>Action</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td>
                                        <img src="/assets/img/manager.png " alt="">
                                        <h6 style="color: black;"> aymen  laaribi</h6>
                                        <span class="user-link" style="font-size: 14px;">Web developper</span>
                                    </td>
                                   
                                   
                                    <td>
                                        <a href="#">laaribiaymen@brando.com</a>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>
                                        <h6>95568290</h6>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="table-btn btn-success"> Update</button>
                                        <button class="table-btn btn-danger">Delete</button>
                                   
                                       
                            </td>        
                            
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <h6 style="color: black;">marwen salhi</h6>
                                        <span class="user-link" style="font-size: 14px;">Software Engineer</span>
                                    </td>
                                    <td>
                                        <a href="#">marwensalhi@brando.com</a>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>
                                        <h6>24787962</h6>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="table-btn btn-success"> Update</button>
                                        <button class="table-btn btn-danger">Delete</button>
                                   
                                       
                            </td>        
                            
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                                        <h6 style="color: black;">Rania azayez</h6>
                                        <span class="user-link" style="font-size: 14px;">Cybersecurity</span>
                                   
                                    <td>
                                        <a href="#">azayezrania@gmail.com</a>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>
                                        <h6>22458792</h6>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="table-btn btn-success"> Update</button>
                                        <button class="table-btn btn-danger">Delete</button>
                                   
                                       
                            </td>
                            <tr>       
                            <td>
                                <img src="/assets/img/woman.png" alt="">
                                <h6 style="color: black;">hadil gharbi</h6>
                                <span class="user-link" style="font-size: 14px;">mobile developper</span>
                           
                            <td>
                                <a href="#">hadilgharbi@gmail.com</a>
                            </td>
                            <td class="text-center">
                                <span class="label label-success">Active</span>
                            </td>
                            <td>
                                <h6>97655891</h6>
                            </td>
                            <td style="width: 20%;">
                                <button class="table-btn btn-success"> Update</button>
                                <button class="table-btn btn-danger">Delete</button>
                           
                               
                    </td> 
                   
                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" >
                        <ul class="pagination justify-content-end">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="previous">
                                <span aria-hidden="true"> &laquo; Previous </span>
                             </a></li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                
                                <span aria-hideen ="true"> Next &raquo;</span></a></li>
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary" routerLink="/admin/addEmployee">Add Employee</button>
  </div>
  