<section>
    <div class="container py-5 h-100  ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card shadow-lg bg-gray-100" style="border-radius: 15px; ">
            <div class="card-body p-5 " >
<table>
    <tr>
      <th>Announcement Title</th>
      <th>Date Posted</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>New Year's Day Office Closure</td>
      <td>December 20, 2023</td>
      <td>Please note that our office will be closed on January 1, 2024 in observance of New Year's Day. We will reopen on January 2, 2024 at our regular business hours. We wish everyone a happy and healthy New Year!</td>
    </tr>
    <tr>
      <td>Employee Appreciation Week</td>
      <td>January 15, 2024</td>
      <td>In celebration of our amazing employees, we are excited to announce Employee Appreciation Week, which will be held from February 10-14.</td>
    </tr>
  </table>
  