
<section >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
  
              <h6 class="mb-3">My Meetings</h6>
<button type="button" class="btn btn-primary btn-lg mt-3 mx-auto" style="margin-left: 10px;" routerLink="/admin/addMeeting" >Add Meeting</button>

<br>
<div class="flex flex-col overflow-x-auto">
  <div class="sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
      <div class="overflow-x-auto">
        <table class="min-w-full text-left text-sm font-light">
          <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
             
              <th scope="col" class="px-6 py-4">Title</th>
              <th scope="col" class="px-6 py-4">Type</th>
              <th scope="col" class="px-6 py-4">Meetig Day</th>
              <th scope="col" class="px-6 py-4">Meeting Time</th>
           
          </thead>
          <tbody>
            <tr class="border-b dark:border-neutral-500">
              
              <td class="whitespace-nowrap px-6 py-4">Information Sharing Day</td>
              <td class="whitespace-nowrap px-6 py-4">International Meeting</td>
              <td class="whitespace-nowrap px-6 py-4">2023-03-03</td>
              <td class="whitespace-nowrap px-6 py-4">11:00:00</td>
           
            </tr>
            <tr class="border-b dark:border-neutral-500">
           
              <td class="whitespace-nowrap px-6 py-4">interview</td>
              <td class="whitespace-nowrap px-6 py-4">External meeting</td>
              <td class="whitespace-nowrap px-6 py-4">2023-05-07</td>
              <td class="whitespace-nowrap px-6 py-4">10:00:00</td>
             
            </tr>
            <tr class="border-b ">
              
              <td class="whitespace-nowrap px-6 py-4">Team building Meeting</td>
              <td class="whitespace-nowrap px-6 py-4">internal Meeting</td>
              <td class="whitespace-nowrap px-6 py-4">2023-08-02</td>
              <td class="whitespace-nowrap px-6 py-4">16:00:00 </td>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div></div></div></div></div></section>