label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  input[type="date"], input[type="time"] {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="date"]:focus, input[type="time"]:focus {
    outline: none;
    border-bottom-color: #49c1a2;
  }
  td, th {
    border: 1px solid black;
  }
  table td, table th {
    font-family: Arial, sans-serif;
  }
  