
<section class="bg-gray min-h-screen flex items-center justify-center">
    <div class=" container  py-5 h-100 " >
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration bg-gray-100 shadow shadow-lg" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h4 class="mb-4 pb-2 pb-md-0 mb-md-5">Vacation request</h4>
              
     <select class="form-control">
        <option value="option1"></option>
      <option value="option2">Individual training vacation</option>
      <option value="option3">Annual vacation</option>
      <option value="option4">Parental vacation</option>
      <option value="option5">Sick vacation</option>
      <option value="option6"> Without pay vacation</option>
    </select>
    <br>
      <div class="form-group">
        <label for="exampleDate">Created at </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleDate"> Start Date </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleDate"> End Date </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
     
      
      
      <button type="submit" class="btn btn-primary mr-3">Save</button>
  <button type="submit" class="btn btn-danger">Cancel</button>
  
  </div>
  </div></div></div></div> </section>