<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card">
          <div class="card-body p-5">
              <h4 style="color: rgb(3, 3, 106);">Vacation request </h4>
              <br>
     <select class="form-control">
        <option value="option1"></option>
      <option value="option2">Individual training vacation</option>
      <option value="option3">Annual vacation</option>
      <option value="option4">Parental vacation</option>
      <option value="option5">Sick vacation</option>
      <option value="option6"> Without pay vacation</option>
    </select>
    <br>
      <div class="form-group">
        <label for="exampleDate">Created at </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleDate"> Start Date </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleDate"> End Date </label>
        <input type="date" class="form-control" id="exampleDate" placeholder="Select date">
      </div>
     
      
      
      <button type="submit" class="btn btn-primary mr-3">Save</button>
  <button type="submit" class="btn btn-danger">Cancel</button>
  
  </div>
  </div></div></div></div> </section>