<section class="bg-gray min-h-screen flex items-center justify-center">
    <div class=" container  py-5 h-100 " >
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
      
            
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success text-center" style="font-size: 2em;">
                      <strong>Success!</strong> Your application has been added successfully
                    </div>
                  </div>
                  