
    
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

<div class="container bootstrap snippets bootdey">

    <div class="search-container" style="margin-bottom: 20px;">
        <input type="text" name="search" placeholder="Search.." style="background-color:rgb(248, 249, 250);">
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header rounded-full shadow-lg bg-gray-100">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span style="color: rgb(2, 2, 74);">User</span></th>
                                    <th><span style="color: rgb(2, 2, 74);">CV</span></th>
                                    <th class="text-center" style="color: rgb(2, 2, 74);"><span>Status</span></th>
                                    <th><span style="color: rgb(2, 2, 74);">Email</span></th>
                                    <th class="text-left " style="color: rgb(2, 2, 74);"><span>Action</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="/assets/img/manager.png " alt="">
                                        <h6 style="color: black;"> Ahmed Landolsi</h6>
                                        <span class="user-link" style="font-size: 14px;">Web developper</span>
                                    </td>
                                    <td>
                                        <div class="form-group ">
                                           
                                            <input type="file" name="file">
                                          </div> 
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default">pending</span>
                                    </td>
                                    <td>
                                        <a href="#">ahmedlandolsi@brando.com</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="table-btn btn-success"><i class="fas fa-user-circle"></i> View CV</button>


                                        <button class="table-btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <h6 style="color: black;">Achref Belhadj</h6>
                                        <span class="user-link" style="font-size: 14px;">Full stack developper</span>
                                    </td>
                                    <td>
                                        <div class="form-group ">
                                           
                                            <input type="file" name="file">
                                          </div>
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>
                                        <a href="#">belhajachref@gmail.com</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="table-btn btn-success"><i class="fas fa-user-circle"></i> View CV</button>                                        <button class="table-btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                                        <h6 style="color: black;">hiba ben abdellah</h6>
                                        <span class="user-link" style="font-size: 14px;">AI Engineer</span>

                                    </td>
                                    <td>
                                        <div class="form-group ">
                                           
                                            <input type="file" name="file">
                                          </div>
                                   
                                    <td class="text-center">
                                        <span class="label label-danger">pending</span>
                                    </td>
                                    <td>
                                        <a href="#">benabdellahhiba@gmail.com</a>
                                    </td>
                                        <td style="width: 20%;">
                                            <button class="table-btn btn-success"><i class="fas fa-user-circle"></i> View CV</button>
                                            <button class="table-btn btn-danger">Delete</button>
                                       
                                           
                                </td>        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  